extends layout

block content

  -
    const json = [
      {
        name: 'Part to Terrain',
        img: "ptt.png",
        desc: "Part to Terrain is a plugin for the Roblox platform that allows users to convert parts into terrain with a mouse click. The plugin has been downloaded over 20k times and has been shown but not mentioned on <a href='https://blog.roblox.com/2017/05/3-must-studio-plugins' target='_blank' rel='noopener noreferrer'>Roblox's blog</a>.",
        urls: [
          {
            name: 'Download on Roblox',
            url: 'https://roblox.com/library/261634767/Part-to-Terrain'
          },
          {
            name: 'View on Github',
            url: 'https://github.com/mkargus/PartToTerrain'
          }
        ]
      },
      {
        name: 'Down the Road',
        img: "dtr.png",
        desc: "A Roblox showcased created by <a href='https://twitter.com/AshCr4ft' target='_blank' rel='noopener noreferrer'>AshCraft</a>. The showcase has been visited more than 29k times and has been featured on <a href='https://blog.roblox.com/2016/06/robloxians-share-their-stunning-showcases' target='_blank' rel='noopener noreferrer'>Roblox's blog</a>..",
        urls: [
          {
            name: 'Play it here',
            url: 'https://roblox.com/games/344053642'
          },
        ]
      },
      {
        name: 'Admin Madness',
        img: null,
        desc: "A game created by a team for the Roblox Developers Conference East 2015's game jam in three hours with the theme being star. The game won as part of a three-way tie for 2nd place.",
        urls: [
          {
            name: 'Play it here',
            url: 'https://roblox.com/games/263409228'
          },
        ]
      },
    ]

  h1 Projects
  p Stuff that I've had a hand in making (and/or breaking).

  each item in json
    div
      h2= item.name
      if item.img
        img(src=item.img alt=item.name width="150" height="150")
      p !{item.desc}

      each urlItem in item.urls
        a.btn.btn-primary(href=urlItem.url target="_blank" rel="noopener noreferrer")= urlItem.name
      hr
